@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --spacing-75ch: 75ch;
}

@layer base {
  body {
    @apply mx-auto flex flex-col bg-white;
    font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  }

  p {
    @apply text-black leading-relaxed;
  }

  code {
    @apply text-black bg-slate-200 px-1.5 py-1 rounded;
  }
}

.container {
  @apply mx-auto px-4 py-8 sm:px-6 lg:px-8 max-w-75ch;
  @apply prose-pre:rounded-lg prose-code:before:content-none prose-code:after:content-none;
}

#repo-input {
  @apply border-2 border-gray-300 focus:border-blue-500;
  @apply data-[state=error]:border-red-600 data-[state=valid]:border-green-600;
  @apply px-2 py-1 h-8 w-60 rounded-md outline-none transition-colors duration-200;
}

/* https://github.com/joshnuss/shiki-transformer-copy-button */
pre:has(code) {
  @apply relative flex p-0;
}

pre code {
  @apply p-4 overflow-x-auto;
}

pre button.copy {
  @apply absolute top-3 right-3 flex p-0 size-8 cursor-pointer;

  & span {
    @apply p-1.5 bg-origin-content w-full aspect-square bg-no-repeat bg-center bg-cover;
  }

  & .ready {
    background-image: url(/icons/copy.svg);
    @apply rounded-lg outline-none;
  }

  & .ready:hover {
    @apply bg-gray-600;
  }

  & .success {
    background-image: url(/icons/copy-success.svg);
    @apply hidden rounded-lg outline-none;
  }

  & .success:hover {
    @apply bg-gray-600;
  }

  &.copied {
    & .success {
      @apply block;
    }

    & .ready {
      @apply hidden;
    }
  }
}
